/* OUTER CONTAINER */
.newsContainer {
  max-width: 1300px;
  margin: 160px auto 40px;
  padding: 0 20px;
}

/* BREAKING NEWS BAR */
.breakingNews {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: white;
  color:black;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: solid black 1px;
}

.breakingLabel {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  white-space: nowrap;
}

.breakingHeadlines {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  overflow-x: auto;
}

.breakingItem {
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
}

.breakingItem:hover {
  text-decoration: underline;
}

/* MAIN GRID */
.newsGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  align-items: stretch;
}

/* SECTION TITLES */
.sectionTitle {
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid #111;
  padding-bottom: 6px;
}

/* LEFT COLUMN */
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* RIGHT COLUMN */
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* MIDDLE COLUMN */
.middleColumn {
  display: flex;
  flex-direction: column;
}

/* MAIN ARTICLE */
.mainArticle {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f4f4f4;
  padding: 30px;
  border-radius: 8px;
}

.mainArticle img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.mainArticle h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.mainArticle p {
  font-size: 18px;
  color: #444;
  flex-grow: 1;
}

.category {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .newsGrid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .mainArticle img {
    height: 250px;
  }
}